@import "tailwindcss";

@layer base {
  body {
    background-color: #020617;
    color: #f8fafc;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

.font-teko {
  font-family: 'Teko', sans-serif;
}

html {
  scroll-behavior: smooth;
}
